<a href="https://colab.research.google.com/github/satyhim/Assignments/blob/main/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment Number 01

**Q.1) What is a List?**

**Ans:** = 

A list is a group of individual objects as a single entity where insertion order needs to be preserved and duplicates are allowed
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.

**Specifications of list:**

1) Heterogeneous objects are allowed.

2) In List the elements will be placed within square brackets and with comma seperator.

3) We can differentiate duplicate elements by using index and we can preserve insertion order by using index. Hence index will play very important role.

4) List objects are mutable.

In [ ]:
#List examples :
X=[]
print(X)
print(type(X))

[]
<class 'list'>

**Q.2) What is a Tuple?**

**Ans: =**

Tuple is exactly same as List except that it is immutable. Once we creates Tuple object, we cannot perform any changes in that object. 

Hence Tuple is Read only version of List.

**Specifications of Tuple:**

1)Tuple is Read only version of List.

2)Insertion Order is preserved Duplicates are allowed Heterogeneous objects are allowed.

3)If our data is fixed and never changes then we should go for Tuple. 

4)A tuple is created by placing all the items (elements) inside parentheses (), separated by commas. The parentheses are optional, however, it is a good practice to use them.

In [ ]:
#Tuple Example :
# Empty tuple
my_tuple = ()
print(my_tuple)

()

In [ ]:
# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [ ]:
# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)
print(type(my_tuple))

('mouse', [8, 4, 6], (1, 2, 3))
<class 'tuple'>

***Q.3)What is the difference between List and Tuple? ***

**Ans:=**

**List =** 

1)List objects are mutable

2)List is a group of comma separated values within square bracket.

3)If the content is not fixed and keep on changing then we should go for list.

4)List object can not used as keys for dictionaries because keys should be hashable and immutable.

5)The literal syntax of list is shown by square bracket [] and square bracket is mandetory.

6)List has more functionality than the tuple.



**Tuple** =

1)Tuple objects are immutable

2)Tuple is a group of comma separated values within parenthesis bracket.

3)If the contenet is fixed and never changes then we should go for tuple.

4)Tuple objects can be used as keys for dictionaries because keys should be hashable and immutable.

5)The literal syntax of tuples is shown by parentheses () and parenthesis is not mandetory.

6)Tuple had less functionality than the list.

**Q.4) Python Program to find the largest element in the list**

In [ ]:
# printing the maximum element
list_new=[12,58,74,96,84,99,888,5,2,1,6]
print("Largest element is:", max(list_new))

Largest element is: 888

In [ ]:
# second method:
list2=sorted(list_new)
print(list2)
print("Largest element is:", list2[-1])

[1, 2, 5, 6, 12, 58, 74, 84, 96, 99, 888]
Largest element is: 888

In [ ]:
#third method:
list1 = []
num=int(input("Enter number of elements in list1: "))
for i in range(1,num+1):
    ele=int(input("Enter elements: "))
    list1.append(ele)
    print("Largest element is:", max(list1))

Enter number of elements in list1: 1,2

ValueError: ignored

**Q.5) Python program to interchange first and last elements in a list.**

In [ ]:
# Swap function
def swapList(newList):
     
    newList[0], newList[-1] = newList[-1], newList[0]
 
    return newList

In [ ]:
newList = [100, 350, 59, 546, 200]
print(swapList(newList))

[200, 350, 59, 546, 100]

**Q.6)Python program to swap two elements in a list**

In [ ]:
# Swap function
def swapPositions(list, pos1, pos2):
     
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list
 
# Driver function
List = [23, 65, 19, 90]
pos1, pos2  = 1, 3
 
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

**Q.7)Python program to Reverse a List**

In [ ]:
#method 1 =
def Reverse(s):
    s.reverse()
    return s

s=[1,2,3,4,5,6]
print(Reverse(s))

[6, 5, 4, 3, 2, 1]

In [ ]:
#method 2
def Reverse(s):
    new_s = s[::-1]
    return new_s
     
s = [10, 11, 12, 13, 14, 15]
print(Reverse(s))

[15, 14, 13, 12, 11, 10]

**Q.8)Python program to count occurrences of an element in a list**

In [ ]:
def countX(y, x):
    count = 0
    for ele in y:
        if (ele == x):
            count = count + 1
    return count

In [ ]:
y=[5,4,6,5,4,6,5,4,6,9,8,7,9,8,7,9,8,7,8,8,8]
x=8
print('{} has occurred {} times'.format(x, countX(y, x)))

8 has occurred 6 times

**Q.9)Python program to find the sum of elements in a list**

In [ ]:
Numbers = [5,10,15,20,25,30]
 
# using sum() function
total = sum(Numbers)
 
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  105

In [ ]:
#method 2
num = [5,10,15]
def sumOfList(num, size):
   if (size == 0):
     return 0
   else:
     return num[size - 1] + sumOfList(num, size - 1)
total = sumOfList(num, len(num))
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  30

**Q.10)Python program to Multiply all numbers in the list**

In [ ]:
def multiplyList(myList) :
    result = 1
    for x in myList:
         result = result * x
    return result

In [ ]:
list1 = [1,1, 1]
list2 = [2, 2, 2]
print(multiplyList(list1))
print(multiplyList(list2))

1
8

In [ ]:
# list using math.prod
 
import math
list1 = [1, 2, 3]
list2 = [3, 2, 4]
 
 
result1 = math.prod(list1)
result2 = math.prod(list2)
print(result1)
print(result2)

AttributeError: ignored

**Q.11)What are the ways to find the length of a list**

**Ans:**

1) len function
2) Naive Method
3) Using length_hint()

In [ ]:
#Using len() function:
s=[1,2,5,8,4,96,18,54,35,78955,62114,85,21,5]
print("The length of the list is:", len(s))

The length of the list is: 14

In [ ]:
#Naive Method :
# Initializing list
test_list = [ 1, 4, 5, 7, 8 ]
 
# Printing test_list
print ("The list is : " + str(test_list))
 
# Finding length of list
# using loop
# Initializing counter
counter = 0
for i in test_list:
     
    # incrementing counter
    counter = counter + 1
 
# Printing length of list
print ("Length of list using naive method is : " + str(counter))

The list is : [1, 4, 5, 7, 8]
Length of list using naive method is : 5

In [ ]:
#3) Using length_hint()
# using len() and length_hint
from operator import length_hint
 
# Initializing list
test_list = [ 1, 4, 5, 7, 8 ]
 
# Printing test_list
print ("The list is : " + str(test_list))
 
# Finding length of list
# using len()
list_len = len(test_list)
 
# Finding length of list
# using length_hint()
list_len_hint = length_hint(test_list)
 
# Printing length of list
print ("Length of list using len() is : " + str(list_len))
print ("Length of list using length_hint() is : " + str(list_len_hint))

The list is : [1, 4, 5, 7, 8]
Length of list using len() is : 5
Length of list using length_hint() is : 5

**Q.12)Python program to find the smallest and largest number in a list (Without min-max function)**

In [ ]:
#Python program to find smallest number in a list :
x=[5,4,6,8,7,9,3,2,5,4]
x.sort()
print("Smallest element is:", x[:1])
print("Smallest element is:", x[0])

Smallest element is: [2]
Smallest element is: 2

In [ ]:
#Method 2 = 
list1 = []
num =int(input("Enter number of elements in list:"))
for i in range(1, num + 1):
    ele= int(input("Enter elements: "))
    list1.append(ele)
print("Smallest element is:", min(list1))

Enter number of elements in list:1,2

ValueError: ignored

In [ ]:
#Python program to find largest number in a list :
x=[5,4,6,8,7,9,3,2,5,4]
x.sort()
print("Largest element is:", x[-1])

Largest element is: 9

In [ ]:
#method2= Without using built in functions in python:
def myMax(list1):
  
    # Assume first number in list is largest
    # initially and assign it to variable "max"
    max = list1[0]
   
    # Now traverse through the list and compare 
    # each number with "max" value. Whichever is 
    # largest assign that value to "max'.
    for x in list1:
        if x > max :
             max = x
      
    # after complete traversing the list 
    # return the "max" value
    return max

In [ ]:
list1 = [10, 20, 4, 45, 99]
print("Largest element is:", myMax(list1))

Largest element is: 99

**Q.13)Python Program to find the area of a circle**

In [ ]:
# Python program to find Area of a circle using inbuild library
  
import math
def area(r):
 area = math.pi* r*r
 return print('Area of circle is:' ,area)
area(5)

Area of circle is: 78.53981633974483

**Q.14)Take inputs from the user to make a list. Again take one input from the user and search it in the list and delete that element, if found. Iterate over a list using for loop.**

**Ans:**

In [ ]:
x=int(input("take any number:"))
y=int(input("take any number"))

In [8]:
number=[]
x=int(input("Enter number of elements in list"))
for i in range(x):
    number.append(int(input()))
findNum=int(input("The number to be deleted is "))
i=0
for element in number:
    if(element == findNum):
        number.pop(i)
        x=x-1
        i=i-1
    i=i+1
    
print(number)

Enter number of elements in list4
25
50
75
100
The number to be deleted is 75
[25, 50, 100]

**Q.15)You are given a list of integer elements. Make a new list that will store a square of elements of the previous list. (With and without list comprehension)**

i. Input_list = [2,5,6,12]

ii. Output_list = [4,25,36,144]

In [15]:
Input_list=[2,5,6,12]
Output_list=[]
for i in Input_list:
    Output_list.append(i**2)
print(Output_list)

[4, 25, 36, 144]